@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background: theme(colors.shark.950);
  color-scheme: dark;
  color: theme(colors.white / 90%);
}

/* i don't know why, but without it context menu has a outline when open (on chrome) */
*,
*:focus,
*:focus-visible,
*:hover {
  outline-width: 0;
  outline: none;
}

select:focus-visible,
input:focus-visible,
button:focus-visible,
a:focus-visible {
  @apply ring-2 ring-accent/60 rounded;
}

body {
  font-family: 'Twemoji Country Flags', 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

*::selection {
  background-color: theme(colors.accent / 30%);
}

.dark *::selection {
  background-color: theme(colors.accent / 50%);
}

.container-md {
  width: 100%;
}

@media (min-width: 640px) {
  .container-md {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-md {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-md {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container-md {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container-md {
    max-width: 1024px;
  }
}

.fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.context-menu li[role='separator'] {
  @apply border-b border-black/10 dark:border-white/10;
}
