.marker {
  position: relative;
  filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}

.marker-icon {
  display: block;
  position: absolute;
  top: calc(50% + 5px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-size: auto 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.marker-flag {
  top: calc(50% - 6px);
  left: calc(50% - 3px);
  width: 16px;
  height: 16px;
  background-size: auto 16px;
}

.marker-circle {
  top: calc(50%);
  left: calc(50%);
}

.marker-pin {
  top: calc(50% - 6px);
}

/*
 * Icons for buildings. Object are taken from https://www.svgrepo.com/, numbers from https://www.iconfinder.com/ (fonts awesome)
 */
.icon-shield .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 198.04 198.04' xml:space='preserve'%3E%3Cpath d='M180.727,18.401c-0.318-2.109-1.94-3.785-4.038-4.171L99.926,0.083c-0.6-0.11-1.213-0.11-1.813,0L21.35,14.23 c-2.098,0.386-3.72,2.062-4.038,4.171c-0.328,2.169-7.841,53.635,7.258,98.157c15.28,45.056,69.501,79.289,71.802,80.724 c0.81,0.505,1.729,0.758,2.646,0.758s1.837-0.252,2.646-0.758c2.301-1.435,56.522-35.668,71.804-80.724 C188.569,72.036,181.055,20.57,180.727,18.401z M99.02,97.433H35.215c-7.508-33.414-2.279-67.413-2.279-67.413L99.02,18.08V97.433z M159.035,110.881c-12.812,37.037-60.015,65.906-60.015,65.906V97.433h63.805C161.809,101.955,160.562,106.466,159.035,110.881z'/%3E%3C/svg%3E");
}

.icon-sword .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 510.31 510.31' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M504.06,443.728c-8.341-8.341-21.845-8.341-30.165,0h-0.021L412.946,382.8c20.096-23.915,34.731-50.389,36.928-72.768 c1.131-11.733-7.424-22.165-19.157-23.317c-11.925-1.195-22.165,7.445-23.317,19.157c-0.256,2.773-1.067,5.803-2.091,8.917 l-59.648-59.627l128.235-128.235c2.325-2.347,4.096-5.205,5.141-8.341l30.165-90.496c2.56-7.68,0.555-16.128-5.141-21.845 c-5.717-5.717-14.187-7.701-21.845-5.141L391.719,31.27c-3.136,1.045-5.995,2.816-8.341,5.163L255.143,164.646L126.93,36.432 c-2.325-2.347-5.184-4.117-8.341-5.163L28.092,1.104c-7.616-2.56-16.128-0.597-21.824,5.141 c-5.717,5.717-7.723,14.165-5.163,21.845l30.165,90.496c1.045,3.136,2.816,5.995,5.163,8.341l128.213,128.213l-59.904,59.925 c-0.917-2.965-1.621-5.824-1.771-8.405c-0.704-11.755-10.88-20.693-22.592-20.011c-11.776,0.725-20.693,10.837-19.989,22.592 c1.344,22.251,16.149,49.237,36.864,73.643l-60.821,60.843c-8.341-8.341-21.845-8.341-30.165,0c-8.341,8.32-8.341,21.824,0,30.165 l30.165,30.165c4.16,4.16,9.621,6.251,15.083,6.251s10.901-2.091,15.083-6.251c8.32-8.341,8.32-21.845,0-30.165l60.907-60.928 c23.915,20.096,50.411,34.709,72.789,36.885c0.725,0.085,1.408,0.107,2.091,0.107c10.859,0,20.139-8.235,21.205-19.264 c1.152-11.712-7.445-22.165-19.157-23.296c-2.773-0.277-5.803-1.067-8.917-2.112l59.648-59.627l59.904,59.904 c-2.965,0.917-5.824,1.621-8.405,1.771c-11.776,0.704-20.715,10.816-20.011,22.592c0.683,11.307,10.091,20.032,21.269,20.032 c0.448,0,0.875,0,1.323-0.043c22.251-1.344,49.216-16.149,73.621-36.864l60.843,60.843c-8.32,8.32-8.32,21.824,0,30.165 c4.181,4.16,9.643,6.251,15.104,6.251c5.44,0,10.901-2.091,15.083-6.251l30.165-30.165 C512.38,465.552,512.38,452.048,504.06,443.728z M157.927,382.544c-5.653-4.587-11.2-9.557-16.448-14.784 c-0.149-0.149-0.299-0.32-0.448-0.469c-4.715-4.736-9.237-9.728-13.419-14.784l67.2-67.179l30.187,30.165L157.927,382.544z M298.194,207.696l-12.864-12.885L409.98,70.16l45.269-15.083l-15.104,45.248L315.495,224.998L298.194,207.696z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon-cannon .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M508.987,128.625l-10.618-20.242l-20.425-38.962l-10.618-20.243c-6.744-12.869-22.63-17.826-35.49-11.083 l-27.151,14.236l6.007,11.465l54.055,103.098l6.006,11.465l27.16-14.245C510.773,157.38,515.731,141.485,508.987,128.625z'/%3E%3Cpath d='M120.42,161.809c-51.868,15.658-82.427,34.57-96.061,77.25l-1.231,3.865 c-3.217,10.08-4.884,20.47-5.177,30.851l-10.226,5.368c0,0-10.928,13.862-6.79,21.745l35.746,68.182 c4.128,7.883,13.871,10.928,21.754,6.79l10.226-5.359c8.704,5.669,18.201,10.208,28.318,13.289l3.882,1.184 c6.252,1.905,12.586,3.171,18.93,3.955c-3.053-11.647-4.684-23.86-4.684-36.438c0-79.273,64.482-143.755,143.746-143.755 c34.324,0,65.867,12.113,90.612,32.255l102.597-67.444L398.006,70.442L120.42,161.809z'/%3E%3Cpath d='M258.853,228.059c-68.72,0-124.434,55.714-124.434,124.433c0,68.72,55.714,124.425,124.434,124.425 c68.729,0,124.433-55.705,124.433-124.425C383.286,283.773,327.582,228.059,258.853,228.059z M258.853,431.42 c-43.592,0-78.927-35.326-78.927-78.928c0-43.601,35.335-78.927,78.927-78.927s78.928,35.326,78.928,78.927 C337.781,396.094,302.445,431.42,258.853,431.42z'/%3E%3Cpath d='M258.853,329.315c-12.796,0-23.177,10.381-23.177,23.177c0,12.788,10.381,23.169,23.177,23.169 c12.796,0,23.177-10.381,23.177-23.169C282.03,339.696,271.649,329.315,258.853,329.315z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-crown .icon {
  background-image: url("data:image/svg+xml, %3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20'%3E%3Cpath d='M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z'%3E%3C/path%3E%3C/svg%3E");
}

.icon-first .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 256 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 448c0 17.67-14.33 32-32 32H32c-17.67 0-32-14.33-32-32s14.33-32 32-32h64V123.8L49.75 154.6C35.02 164.5 15.19 160.4 5.375 145.8C-4.422 131.1-.4531 111.2 14.25 101.4l96-64c9.828-6.547 22.45-7.187 32.84-1.594C153.5 41.37 160 52.22 160 64.01v352h64C241.7 416 256 430.3 256 448z'/%3E%3C/svg%3E");
}

.icon-second .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320 448c0 17.67-14.33 32-32 32H32c-13.08 0-24.83-7.953-29.7-20.09c-4.859-12.12-1.859-26 7.594-35.03l193.6-185.1c31.36-30.17 33.95-80 5.812-113.4c-14.91-17.69-35.86-28.12-58.97-29.38C127.4 95.83 105.3 103.9 88.53 119.9L53.52 151.7c-13.08 11.91-33.33 10.89-45.2-2.172C-3.563 136.5-2.594 116.2 10.48 104.3l34.45-31.3c28.67-27.34 68.39-42.11 108.9-39.88c40.33 2.188 78.39 21.16 104.4 52.03c49.8 59.05 45.2 147.3-10.45 200.8l-136 130H288C305.7 416 320 430.3 320 448z'/%3E%3C/svg%3E");
}

.icon-third .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320 344c0 74.98-61.02 136-136 136H103.6c-46.34 0-87.31-29.53-101.1-73.48c-5.594-16.77 3.484-34.88 20.25-40.47c16.75-5.609 34.89 3.484 40.47 20.25c5.922 17.77 22.48 29.7 41.23 29.7H184c39.7 0 72-32.3 72-72s-32.3-72-72-72H80c-13.2 0-25.05-8.094-29.83-20.41C45.39 239.3 48.66 225.3 58.38 216.4l131.4-120.4H32c-17.67 0-32-14.33-32-32s14.33-32 32-32h240c13.2 0 25.05 8.094 29.83 20.41c4.781 12.3 1.516 26.27-8.203 35.19l-131.4 120.4H184C258.1 208 320 269 320 344z'/%3E%3C/svg%3E");
}

.icon-fourth .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 384 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M384 334.2c0 17.67-14.33 32-32 32h-32v81.78c0 17.67-14.33 32-32 32s-32-14.33-32-32v-81.78H32c-10.97 0-21.17-5.625-27.05-14.89c-5.859-9.266-6.562-20.89-1.875-30.81l128-270.2C138.6 34.33 157.8 27.56 173.7 35.09c15.97 7.562 22.78 26.66 15.22 42.63L82.56 302.2H256V160c0-17.67 14.33-32 32-32s32 14.33 32 32v142.2h32C369.7 302.2 384 316.6 384 334.2z'/%3E%3C/svg%3E");
}

.icon-fifth .icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320 344.6c0 74.66-60.73 135.4-135.4 135.4H104.7c-46.81 0-88.22-29.83-103-74.23c-5.594-16.77 3.469-34.89 20.23-40.48c16.83-5.625 34.91 3.469 40.48 20.23c6.078 18.23 23.08 30.48 42.3 30.48h79.95c39.36 0 71.39-32.03 71.39-71.39s-32.03-71.38-71.39-71.38H32c-9.484 0-18.47-4.203-24.56-11.48C1.359 254.5-1.172 244.9 .5156 235.6l32-177.2C35.27 43.09 48.52 32.01 64 32.01l192 .0049c17.67 0 32 14.33 32 32s-14.33 32-32 32H90.73L70.3 209.2h114.3C259.3 209.2 320 269.1 320 344.6z'/%3E%3C/svg%3E");
}

.selected-marker {
  --stroke-color: white;
  filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0.8));
}

.color-crown {
  --color: theme(colors.yellow.400);
}

/*
 * This colors from ingame https://s1.pearlcdn.com/RU/Upload/News/f6efb0d7e6c20220831114421563.png 
 */
.color-1 {
  --color: #906bc1;
}

.color-2 {
  --color: #8359ba;
}

.color-3 {
  --color: #5922a3;
}

.color-4 {
  --color: #43197a;
}

.color-5 {
  --color: #3c176d;
}

.color-6 {
  --color: #fa6e6b;
}

.color-7 {
  --color: #ff706d;
}

.color-8 {
  --color: #f82722;
}

.color-9 {
  --color: #ba1d19;
}

.color-10 {
  --color: #a61a17;
}

.color-11 {
  --color: #55a1dd;
}

.color-12 {
  --color: #4196d9;
}

.color-13 {
  --color: #0173cc;
}

.color-14 {
  --color: #015699;
}

.color-15 {
  --color: #014d89;
}

.color-16 {
  --color: #fee568;
}

.color-17 {
  --color: #fee256;
}

.color-18 {
  --color: #fdd81e;
}

.color-19 {
  --color: #bea216;
}

.color-20 {
  --color: #aa9114;
}

.color-21 {
  --color: #fc6ca0;
}

.color-22 {
  --color: #fc5b95;
}

.color-23 {
  --color: #bc1b55;
}

.color-24 {
  --color: #a8184c;
}

.color-25 {
  --color: #a8003d;
}

.color-26 {
  --color: #5aed84;
}

.color-27 {
  --color: #47eb75;
}

.color-28 {
  --color: #09e447;
}

.color-29 {
  --color: #07ab35;
}

.color-30 {
  --color: #069930;
}

.color-31 {
  --color: #ff9a6b;
}

.color-32 {
  --color: #ff8f59;
}

.color-33 {
  --color: #ff6922;
}

.color-34 {
  --color: #bf4f19;
}

.color-35 {
  --color: #ab4617;
}

.color-36 {
  --color: #828282;
}

.color-37 {
  --color: #656565;
}

.color-38 {
  --color: #474747;
}

.color-39 {
  --color: #323232;
}

.color-40 {
  --color: #232323;
}
